<% include ../partials/headerMsn %>
<header>
  <link rel="stylesheet" href="/stylesheet/jquery.counterup.min">
<link href="https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barlow:600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=News+Cycle&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />

  </header>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="chatDiv">
        <section id="chatroom">
          <section id="feedback"></section>
          <%for(var i=0;i<all.length;i++){%>
            <div  class="dateMsg">
              <%= all[i].username%>: <%= all[i].message%>
            </div>
            <p class="oneMessage"><%=all[i].msgCreate.toDateString().split(' ').slice(1).join(' ').toUpperCase() %></p>
            <%} %>
        </section>
      </div>
      <section id="input_zone">
        <input id="message" class="vertical-align" type="text" />
        <button id="send_message" class="vertical-align" type="button">Send</button>
      </section>
    </div>
  </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="scripts/msnIndex.js"></script>
<% include ../partials/footer %>
