<% include ../partials/header %>

<h1 class="indexH1">Edit cover photo</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="/bikes/<%=editPost._id%>?_method=PUT" method="POST">
          <input class="form-control" type="text" name="newPost[headimg]" value="<%=editPost.headimg%>">
          <button class="form-control btn btn-success">Submit</button>
        </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>
